.errorCont {
    background: rgb(4,0,138);
    background: linear-gradient(90deg, rgba(4,0,138,1) 0%, rgba(9,85,121,1) 35%, rgba(0,255,111,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.errorCont > h1 {
    color: white;
    font-size: 4rem;
}
.errorCont > h2 {
    padding: 2rem;
    color: white;
    font-size: 2rem;
}
.errorCont > a > button {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
    color: #385170;
    border-radius: 25px;
    padding: 1rem;
}
.errorCont > a > button:hover {
    color: white;
    background-color: #385170;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .errorCont > h1 {
        text-align: center;
    }
}