.sbContainer > form {
    display: flex;
}
.sbContainer > form > input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid white;
    width: 15rem;
    border-radius: 1.2rem;
    text-align: center;
}
.sbContainer > form > button {
    font-family: 'Montserrat', sans-serif;
    background: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.sbBtn > img {
    max-width: 30px;
}
.errors {
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(190, 18, 18);
    align-self: center;
}